<!--<div class="clearfix sales-box" id="sale-ticket">
  <div class="sales-left">
    <div class="sales-top">
      <h2>售&nbsp;&nbsp;票</h2>
      <div class="clearfix sales-header">
        <p class="number">
          编号：<span>{{voucherService.voucher.number}}</span></p>
        <p class="date">日期：<span>{{voucherService.voucher.annual}}-{{voucherService.voucher.monthly}}-{{voucherService.voucher.daily}}</span>
        </p>
        <p class="maker">售票员：<span>{{user.name}}</span></p>
      </div>
    </div>
    <trader-list></trader-list>
  </div>
  <div class="sales-line"><img style="position: absolute;bottom: 0;left: -7px;" src="/assets/images/icons/jiandao-icon.png" /></div>
  <trader-panel></trader-panel>
</div>
<div id="sale-ticket-bottom">
  <trader-logs></trader-logs>
</div>-->
<am-loading></am-loading>