.a-main-login {
  width: 64px;
  height: 64px;
  margin: 10px;
}

.a-main-login {
  img {
    width: 64px;
    height: 64px;
  }
}

.a-main {
  width: 100%;
}

.a-main {
  .a-content {
    margin: 0px auto;
  }
}
